body{
     font-family: 'Satoshi', sans-serif;
    background: linear-gradient(to bottom, #87ceeb, #f0f8ff);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    min-height: 100vh;
}
.container {
	text-align: center;
	justify-content: center;
	align-items: center;
}
